# this is a root config, don't look for higher-level configs
config.stopBubbling=true

lombok.addLombokGeneratedAnnotation=true

# add @ConstructorProperties({"field1", "field2"}) on required-args and all-args constructors -
# to let Jackson recognize them when deserializing DTOs having no default constructor
lombok.anyConstructor.addConstructorProperties=true

lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.copyableAnnotations += org.springframework.context.annotation.Lazy

# copy @Qualifier from 'private final X x' to constructor
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
